/* css/login.css */

.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-main .form-container {
  width: 100%;
}

@media (max-height: 720px) {
  .login-main {
    align-items: flex-start;
  }
}
